name: Xamarin

on:
  push:
    branches:
      - "*"
  pull_request:
    branches: 
      - "*"

jobs:
  
    Android:
      runs-on: macos-latest
      env:
        UITestTokenApiKey: ${{ secrets.UITestTokenApiKey }}
        GetSyncFusionInformationApiKey: ${{ secrets.GetSyncFusionInformationApiKey }}
        GetNotificationHubInformationApiKey: ${{ secrets.GetNotificationHubInformationApiKey }}
        APPCENTER_SOURCE_DIRECTORY: "./"
      steps:
      - uses: actions/checkout@v1
      - name: Android
        run: |
          nuget restore
          
          chmod -R 777 ./GitTrends.Android/appcenter-pre-build.sh
          ./GitTrends.Android/appcenter-pre-build.sh
          
          msbuild ./GitTrends.Android/GitTrends.Android.csproj /verbosity:normal /t:Rebuild /p:Configuration=Release     

# Ignore iOS until GitHub Actions adds iOS Certificates & Provisioning Profiles
#    iOS:
#      runs-on: macos-latest
#      steps:
#      - uses: actions/checkout@v1
#      - name: iOS
#        run: |
#          nuget restore
#          msbuild GitTrends.iOS/GitTrends.iOS.csproj /verbosity:normal /t:Rebuild /p:Platform=iPhone /p:Configuration=Release
