name: Xamarin

on:
  push:
    branches:
      - "*"
  pull_request:
    branches: 
      - "*"

jobs:
  
    Android:
      runs-on: macos-latest
      env:
        AppCenterApiToken: ${{ secrets.AppCenterApiToken }}
      steps:
      - uses: actions/checkout@v1
      - name: Android
        run: |
          nuget restore
          msbuild GitTrends.Android/GitTrends.Android.csproj /verbosity:normal /t:Rebuild /p:Configuration=Release     

# Ignore iOS until GitHub Actions adds iOS Certificates & Provisioning Profiles
#    iOS:
#      runs-on: macos-latest
#      steps:
#      - uses: actions/checkout@v1
#      - name: iOS
#        run: |
#          nuget restore
#          msbuild GitTrends.iOS/GitTrends.iOS.csproj /verbosity:normal /t:Rebuild /p:Platform=iPhone /p:Configuration=Release
